{% extends 'base/base.html.twig' %}
{% block content %}
<!-- start section -->
<section class="section white-backgorund">
    <div class="container">
        <div class="row">
        	{% if app.user %}
            <!-- start sidebar -->
            <div class="col-sm-3">
                <div class="widget">
                    <h6 class="subtitle">Account Navigation</h6>
                    
                    <ul class="list list-unstyled">
                        <li>
                            <a href="my-account.html">My Account</a>
                        </li>
                        <li class="active">
                            <a href="cart.html">My Cart <span class="text-primary">(3)</span></a>
                        </li>
                        <li>
                            <a href="order-list.html">My Order</a>
                        </li>
                        <li>
                            <a href="wishlist.html">Wishlist <span class="text-primary">(5)</span></a>
                        </li>
                        <li>
                            <a href="user-information.html">Settings</a>
                        </li>
                    </ul>
                </div><!-- end widget -->
            </div><!-- end col -->
            <div class="col-sm-9">
        	{% else %}
        	<div class="col-sm-12">
        	{% endif %}
            <!-- end sidebar -->
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="title">Paiement</h2>
                    </div><!-- end col -->
                </div><!-- end row -->
                
                <hr class="spacer-5"><hr class="spacer-20 no-border">
                
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-pills style2 nav-justified">
                            <li class="active">
                                <a href="#payment" data-toggle="tab">
                                    1. Méthode de paiement
                                    <div class="icon">
                                        <i class="fa fa-credit-card"></i>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#shopping-cart" data-toggle="tab">
                                    2. Revue de la commande
									<div class="icon">
                                        <i class="fa fa-check"></i>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content pills">
                        	<div class="tab-pane active" id="payment">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5 class="thin subtitle">Méthode de paiement</h5>
                                        <div class="panel-group accordion style2" id="accordionPayment" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingPayment1">
                                                    <h4 class="panel-title">
                                                        <a class="" data-toggle="collapse" data-parent="#accordionPayment" href="#collapsePayment1" aria-expanded="true" aria-controls="collapsePayment1">
                                                            <i class="fa fa-credit-card mr-10"></i>Credit or Debit Card
                                                        </a>
                                                    </h4><!-- end panel-title -->
                                                </div><!-- end panel-heading -->
                                                <div id="collapsePayment1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingPayment1">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <label class="col-sm-4">Cardholder Name <span class="text-danger">*</span></label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="form-control required" name="cardholder" placeholder="">
                                                                </div><!-- end col -->
                                                            </div><!-- end row -->
                                                        </div><!-- end form-group -->
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <label class="col-sm-4">Card Number <span class="text-danger">*</span></label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="form-control required" name="cardnumber" placeholder="">
                                                                </div><!-- end col -->
                                                            </div><!-- end row -->
                                                        </div><!-- end form-group -->
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <label class="col-sm-4">Payment Types <span class="text-danger">*</span></label>
                                                                <div class="col-sm-8">
                                                                    <ul class="list list-inline">
                                                                        <li><i class="fa fa-cc-visa fa-2x"></i></li>
                                                                        <li><i class="fa fa-cc-paypal fa-2x"></i></li>
                                                                        <li class="text-primary"><i class="fa fa-cc-mastercard fa-2x"></i></li>
                                                                        <li><i class="fa fa-cc-discover fa-2x"></i></li>
                                                                    </ul>
                                                                </div><!-- end col -->
                                                            </div><!-- end row -->
                                                        </div><!-- end form-group -->
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <label class="col-sm-4">Expiration Date <span class="text-danger">*</span></label>
                                                                <div class="col-sm-8">
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <input type="text" name="mm" placeholder="MM" class="form-control required">
                                                                        </div><!-- end col -->
                                                                        <div class="col-sm-6">
                                                                            <input type="text" name="yy" placeholder="YY" class="form-control required">
                                                                        </div><!-- end col -->
                                                                    </div><!-- end row -->      
                                                                </div><!-- end col -->
                                                            </div><!-- end row -->
                                                        </div><!-- end form-group -->
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <label class="col-sm-4">CSC <span class="text-danger">*</span></label>
                                                            </div><!-- end row -->
                                                        </div><!-- end form-group -->
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-sm-offset-4 col-sm-8 text-right">
                                                                    <a href="order-confirmation.html" class="btn btn-default btn-md round">Order <i class="fa fa-arrow-circle-right ml-5"></i></a>
                                                                </div><!-- end col -->
                                                            </div><!-- end row -->
                                                        </div><!-- end form-group -->
                                                    </div><!-- end panel-body -->
                                                </div><!-- end collapse -->
                                            </div><!-- end panel -->
                                        </div><!-- end panel-group -->
                                    </div><!-- end col -->
                                    <div class="col-md-4">
                                        <h5 class="thin subtitle">FAQ (Foire Aux Questions)</h5>
                                        <div class="panel-group accordion style1" id="question" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="questionOne">
                                                    <h4 class="panel-title">
                                                        <a class="" data-toggle="collapse" data-parent="#question" href="#collapseQuestionOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Quelle méthodes de paiement puis-je utiliser?
                                                        </a>
                                                    </h4>
                                                </div><!-- end panel-heading -->
                                                <div id="collapseQuestionOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="questionOne">
                                                    <div class="panel-body">
                                                        <p>Nous acceptons les cartes Visa , Mastercard et American Express.</p>
                                                    </div><!-- end panel-body -->
                                                </div><!-- end collapse -->
                                            </div><!-- end panel -->

                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="questionTwo">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#question" href="#collapseQuestionTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                            Puis-je utiliser une carte cadeau pour mes achatas en ligne?
                                                        </a>
                                                    </h4>
                                                </div><!-- end panel-heading -->
                                                <div id="collapseQuestionTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionTwo">
                                                    <div class="panel-body">
                                                        <p>Les cartes cadeaux sont admissibles en magasin seulement,pour trouver un de nos magasin visiter la section <a href="{{ path('contacts') }}" target="_blank">Contacts</a>.</p>
                                                    </div><!-- end panel-body -->
                                                </div><!-- end collapse -->
                                            </div><!-- end panel -->

                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="questionThree">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#question" href="#collapseQuestionThree" aria-expanded="false" aria-controls="collapseThree">
                                                            Quel sont les délais de livraison?
                                                        </a>
                                                    </h4>
                                                </div><!-- end panel-heading -->
                                                <div id="collapseQuestionThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="questionThree">
                                                    <div class="panel-body">
                                                        <p>Dépendement de votre location et de la disponibilité en stock du ou des produits commandés, les délais peuvent varier entre 5 et 10 jours ouvrables.</p>
                                                        <p>*Note:Ce délai n'est qu'un délai approximatif et est susceptible de changer selon le moment auquel l'achat est fait.*</p>
                                                    </div><!-- end panel-body -->
                                                </div><!-- end collapse -->
                                            </div><!-- end panel -->
                                        </div><!-- end panel-group -->
                                    </div><!-- end col -->
                                    	<div class="col-sm-4">
				                        	<div class="table-responsive table-bordered"> 
				                            <table class="table no-border">
				                                <thead class="summaryCart">
				                                    <tr>
				                                        <td colspan="2">
				                                            <h5>Sommaire de la commande</h5>
				                                        </td>
				                                    </tr>
				                                </thead>
				                                <tr>
				                                    <th>Sous-total</th><td class="pull-right">123$</td>
				                                </tr>
				                                <tr>
				                                    <th>Frais de livraison</th><td class="pull-right">123$</td>
				                                </tr>
				                                <tr>
				                                    <th>TPS</th><td class="pull-right">123$</td>
				                                </tr>
				                                <tr>
				                                    <th>TVQ</th><td class="pull-right">123$</td>
				                                </tr>
				                                <tr>
				                                    <tbody></tbody>
				                                </tr>
				                                <tr>
				                                    <th>Total</th><td class="pull-right">123$</td>
				                                </tr>
				                            </table><!-- end table -->
				                        </div><!-- end table-responsive -->
				                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end tab-pane -->
                            <div class="tab-pane" id="shopping-cart">
                                <div class="table-responsive col-sm-8">    
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Products</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th colspan="2">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="javascript:void(0);">
                                                        <img width="60px" src="img/products/men_06.jpg" alt="product">
                                                    </a>
                                                </td>
                                                <td>
                                                    <h6 class="regular"><a href="javascript:void(0);">Lorem Ipsum</a></h6>
                                                    <p>Sed aliquam tincidunt tempus</p>
                                                </td>
                                                <td>
                                                    <span>$59.99</span>
                                                </td>
                                                <td>
                                                    <select class="form-control" name="select">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <span class="text-primary">$59.99</span>
                                                </td>
                                                <td>
                                                    <button type="button" class="close">×</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:void(0);">
                                                        <img width="60px" src="img/products/shoes_01.jpg" alt="product">
                                                    </a>
                                                </td>
                                                <td>
                                                    <h6 class="regular"><a href="javascript:void(0);">Lorem Ipsum</a></h6>
                                                    <p>Sed aliquam tincidunt tempus</p>
                                                </td>
                                                <td>
                                                    <span>$39.99</span>
                                                </td>
                                                <td>
                                                    <select class="form-control" name="select">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <span class="text-primary">$39.99</span>
                                                </td>
                                                <td>
                                                    <button type="button" class="close">×</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:void(0);">
                                                        <img width="60px" src="img/products/bags_07.jpg" alt="product">
                                                    </a>
                                                </td>
                                                <td>
                                                    <h6 class="regular"><a href="javascript:void(0);">Lorem Ipsum</a></h6>
                                                    <p>Sed aliquam tincidunt tempus</p>
                                                </td>
                                                <td>
                                                    <span>$29.99</span>
                                                </td>
                                                <td>
                                                    <select class="form-control" name="select">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <span class="text-primary">$29.99</span>
                                                </td>
                                                <td>
                                                    <button type="button" class="close">×</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table><!-- end table -->
                                </div><!-- end table-responsive -->
	                                <div class="col-sm-4">
				                        	<div class="table-responsive table-bordered"> 
				                            <table class="table no-border">
				                                <thead class="summaryCart">
				                                    <tr>
				                                        <td colspan="2">
				                                            <h5>Sommaire de la commande</h5>
				                                        </td>
				                                    </tr>
				                                </thead>
				                                <tr>
				                                    <th>Sous-total</th><td class="pull-right">123$</td>
				                                </tr>
				                                <tr>
				                                    <th>Frais de livraison</th><td class="pull-right">123$</td>
				                                </tr>
				                                <tr>
				                                    <th>TPS</th><td class="pull-right">123$</td>
				                                </tr>
				                                <tr>
				                                    <th>TVQ</th><td class="pull-right">123$</td>
				                                </tr>
				                                <tr>
				                                    <tbody></tbody>
				                                </tr>
				                                <tr>
				                                    <th>Total</th><td class="pull-right">123$</td>
				                                </tr>
				                            </table><!-- end table -->
				                        </div><!-- end table-responsive -->
				                    </div><!-- end col -->
                            </div><!-- end tab-pane -->
                        </div><!-- end pills content -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->                
    </div><!-- end container -->
</section>
<!-- end section -->
{% endblock %}